/* general */
.u-backgroundColorWhite.make-it-shine {
  transition-property: all;
  transition-duration: 0.5s;
  background-color: gold !important;
  opacity: 0.1;
}

.u-backgroundColorWhite.make-it-shine:hover {
  opacity: 1
}