/* general */
.u-sizeFullWidth.u-xs-heightAuto.u-borderBox.make-it-shine {
  transition-property: all;
  transition-duration: 0.5s;
  background-color: gold !important;
  opacity: 0.1;
}

.u-sizeFullWidth.u-xs-heightAuto.u-borderBox.make-it-shine:hover {
  opacity: 1
}

.streamItem .streamItemHeading {
  max-width: 100% !important;
  padding-top: 100px;
}

.extreme-container12col > div {
  width: 100% !important;
  max-width: 100% !important;
}

.extremePostPreview {
  max-width: 100% !important;
  width: 100% !important;
}

.extremePopchunk {
  margin: 48px 0 48px 0 !important;
}


/* home */
.mext--home .js-homeStream,
.mext--home .promo-home_hero_conversion {
  display: none;
}

.mext--home .extremeSidebar {
  width: 100% !important;
  overflow: hidden;
}

.mext--home .extremeSidebar .streamItem,
.mext--home .streamItem aside,
.mext--home .streamItem .extremeAdaptiveSection-imageHeader {
  height: 135px;
}

.mext--home .extremeSidebar .streamItem {
  margin-bottom: 0;
  padding-bottom: 0;
  display: none;
  float:left;
  width: 50%;
}

.mext--home .extremeSidebar .streamItem:first-child,
.mext--home .extremeSidebar .streamItem:last-child {
  display: block !important;
}

.mext--home .extremeSidebar .extremeAdaptiveSection ol {
  display: none !important;
}


/* topic */
.mext--topic section > div.u-borderBox,
.js-sourceStream section > div.u-borderBox{
  width: calc(100%/3) !important;
}

.mext--topic section > div.u-borderBox,
.mext--topic section > div.u-borderBox > div.u-borderBox,
.mext--topic section > div.u-borderBox > .u-flex.u-sizeFullWidth,
.js-sourceStream section > div.u-borderBox,
.js-sourceStream section > div.u-borderBox > div.u-borderBox,
.js-sourceStream section > div.u-borderBox > .u-flex.u-sizeFullWidth{
  height: 538px !important;
}

.mext--topic section > div.u-borderBox,
.js-sourceStream section > div.u-borderBox {
    margin-bottom: 20px !important;
}

.mext--topic section > div.u-borderBox:nth-child(3n+1),
.js-sourceStream section > div.u-borderBox:nth-child(3n+1) {
  padding: 0 10px 0 0 !important;
}

.mext--topic section > div.u-borderBox:nth-child(3n+2),
.js-sourceStream section > div.u-borderBox:nth-child(3n+2) {
  padding: 0 10px 0 !important;
}

.mext--topic section > div.u-borderBox:nth-child(3n),
.js-sourceStream section > div.u-borderBox:nth-child(3n) {
  padding: 0 0 0 10px !important;
}